@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/black-alpha.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html { scroll-behavior: smooth; }

p, h1, h2, h3, input, div, button{
  font-family: "Roboto", sans-serif;;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.bg-img {
  object-fit: cover;
}


.group-hover\:flex:hover {
  display: flex; /* Показываем кнопку при наведении на группу */
}

#titlewrapper { 
  text-align: center;
 }

 .parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.button-hover{
  color: white;
  background: #4CAF50;
  font-size: 16px;
  padding: 3px 15px;
  border-radius: 5px
}

.button-hover:hover{
  background: #388E3D;
  border: 0px solid #388E3D
}


.button-hover:active{
  background: #2E682C;
  border: 0px solid #2E682C
}

.ProgressRoot {
	position: relative;
	overflow: hidden;
	background: var(--black-a9);
	border-radius: 99999px;
  border: 1px solid rgb(110, 110, 110);
	width: 180px;
	height: 20px;
	transform: translateZ(0);
}

.ProgressIndicator {
	background-color: white;
  border: none;
	width: 100%;
	height: 100%;
	transition: transform 660ms cubic-bezier(0.65, 0, 0.35, 1);
}



.VkIdWebSdk__button_reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

.VkIdWebSdk__button {
  background: #0077ff;
  cursor: pointer;
  transition: all .1s ease-out;
}

.VkIdWebSdk__button:hover{
  opacity: 0.8;
}

.VkIdWebSdk__button:active {
  opacity: .7;
  transform: scale(.97);
}

.VkIdWebSdk__button {
  border-radius: 8px;
  width: 45%;
  min-height: 44px;
}

.VkIdWebSdk__button_container {
  display: flex;
  align-items: center;
  padding: 8px 10px;
}

.VkIdWebSdk__button_icon + .VkIdWebSdk__button_text {
  margin-left: -28px;
}

.VkIdWebSdk__button_text {
  display: flex;
  font-family: -apple-system, system-ui, "Helvetica Neue", Roboto, sans-serif;
  flex: 1;
  justify-content: center;
  color: #ffffff;
}